<!-- _Sidebar.cshtml -->
<nav class="navbar navbar-dark bg-dark fixed-top" id="sidebar-wrapper">
    <div class="sidebar-heading">Brand</div>
    <div class="list-group list-group-flush">
        <a href="#home" class="list-group-item list-group-item-action">Home</a>
        <a href="#about" class="list-group-item list-group-item-action">About</a>
        <a href="#events" class="list-group-item list-group-item-action">Events</a>
        <a href="#team" class="list-group-item list-group-item-action">Team</a>
        <!-- Add more menu items as needed -->
    </div>
</nav>
